{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="border-4 border-yellow-500 p-4 rounded-xl">
    <div class="flex flex-col items-center">
        <!-- รูปภาพด้านบน -->
        <div class="mb-8">
            <img class="object-cover w-80 h-60 rounded-xl " src="{% static 'image/f0601.jpg' %}" alt="ผัดไทยหมื่นปีห่อใบบัว">
        </div>
        
        <!-- ข้อความ -->
        <div class="text-center p-4 rounded-xl">
            <h3 class="text-3xl text-blacky-600 mb-4 font-bold">ผัดไทยหมื่นปีห่อใบบัว</h3>
            <p class="text-base text-black-600">ผัดไทยเป็นอาหารพื้นเมืองที่มีความโดดเด่นของจังหวัดอุบลราชธานี มีคุณค่าทางโภชนาการครบ 5 หมู่ รวมถึงสารอาหารจากส่วนผสมต่าง ๆ เช่น คาร์โบไฮเดรตจากเส้นก๋วยเตี๋ยว, โปรตีนจากเนื้อสัตว์, และวิตามินจากพืชผักสมุนไพร นอกจากนี้ ผัดไทยยังมีการเพิ่มรสชาติที่กลมกล่อมด้วยการผสมผสานรสเปรี้ยว หวาน เค็ม และมัน การห่อด้วยใบบัวช่วยเพิ่มกลิ่นหอมและสรรพคุณในการต้านอนุมูลอิสระ เสริมบำรุงหัวใจ อีกทั้งยังรับประทานกับผักพื้นบ้านที่มีคุณค่าทางสมุนไพรสูง ซึ่งช่วยเสริมภูมิคุ้มกัน บำรุงเลือด บำรุงหัวใจ และลดความเสี่ยงของโรคต่าง ๆ จึงถือเป็นอาหารที่มีคุณค่าทางโภชนาการและสรรพคุณทางยาจากพืชผักสมุนไพร ควรอนุรักษ์และสืบทอดต่อไปในฐานะมรดกทางวัฒนธรรมอาหารพื้นเมืองของไทย</p>
        </div>
        
        <!-- รูปภาพที่สาม -->
        <div class="flex space-x-4 mt-4">
            <img class="object-cover w-80 h-60 rounded-xl " src="{% static 'image/f0603.jpg' %}" alt="เมี่ยงคำกลีบบัวหลวง">
            <img class="object-cover w-80 h-60 rounded-xl " src="{% static 'image/f0602.jpg' %}" alt="เมี่ยงคำกลีบบัวหลวง">
        </div>
    </div>
</div>
{% endblock %}
